* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 100ms;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,#cc3300, #f79400);
}

main {
    width: 100%;
    height: 100%;
}

#header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    border-bottom: solid white;
    background-color: white;
    position: fixed;
}

#header img {
    width: 100%;
}

.logo {
    width: 8%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container {
    width: 40%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #d3430050;
}

#marcas {
    display: grid;
    grid-template-areas: 
        'mc bk sb ph hb sbs';
    border: none;
}

/*marcas divs*/
#marcas button {
    width: 56%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    align-self: center;
    justify-self: center;
}

#marcas button :hover {
    transform: scale(1.1);
}

#mc {
    grid-area: mc;
}

#bk {
    grid-area: bk;
}

#sb {
    grid-area: sb;
}

#ph {
    grid-area: ph;
}

#hb {
    grid-area: hb;
}

#sbs {
    grid-area: sbs;
}

#snacks {
    position: absolute;
    top: 110px;
    width: 100%;
    height: 80%;
}