* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 100ms;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,#cc3300, #f79400);
}

main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "header"
        "snacks";
        gap: 10px;
    grid-template-rows: 12% auto;
}

main div {
    border: solid white;
}

#header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
}

#header img {
    width: 100%;
}

#snacks {
    grid-area: snacks;
    display: flex;
    align-items: center;
    justify-content: center;
}

#marcas {
    width: 40%;
    height: 80%;
    padding: 10px 20px 10px 20px;
    display: grid;
    grid-template-areas: 
        'mc bk sb ph hb sbs';
    gap: 6%;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    background-color: rgba(176, 151, 151, 0.202);
}

/*marcas divs*/
#marcas button {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    justify-self: center;
    align-self: center;
}

#marcas button :hover {
    transform: scale(1.1);
}

#mc {
    grid-area: mc;
}

#bk {
    grid-area: bk;
}

#sb {
    grid-area: sb;
}

#ph {
    grid-area: ph;
}

#hb {
    grid-area: hb;
}

#sbs {
    grid-area: sbs;
}